<template>
  <v-container>
    <v-row>
      <v-col :cols="12">
        <h1 class="text-center">{{ $t("Are you a") }}</h1>
      </v-col>
    </v-row>
    <v-row>
      <v-col :cols="6">
        <v-btn block color="cyan" x-large to="volunteer">
          {{ $t("Volunteer") }}
        </v-btn>
      </v-col>
      <v-col :cols="6">
        <v-btn block class="width" color="teal" x-large to="refugee">
          {{ $t("Refugee") }}</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Home",

  components: {},
};
</script>
