<template>
  <v-container>
    <v-layout align-center justify-center>
      <v-flex>
        <v-card>
          <v-card-text>
            <v-form>
              <v-text-field
                v-model="email"
                name="email"
                :label="$t('Email')"
                type="text"
              ></v-text-field>
              <v-text-field
                v-model="password"
                name="password"
                :label="$t('Password')"
                type="password"
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="login"> {{ $t("Login") }}</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { auth } from "../db";
export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    async login() {
      await auth.signInWithEmailAndPassword(this.email, this.password);
      this.$router.replace("/volunteer/both");
    },
  },
};
</script>
