<template>
  <v-container>
    <v-row>
      <v-col :cols="12">
        <h1 class="text-center">Do you need</h1>
      </v-col>
    </v-row>
    <v-row>
      <v-col :cols="4">
        <v-btn block color="cyan" x-large to="refugee/shelter">
          {{ $t("Shelter") }}
        </v-btn>
      </v-col>
      <v-col :cols="4">
        <v-btn block class="width" color="teal" x-large to="refugee/drive">
          {{ $t("Transport") }}
        </v-btn>
      </v-col>
      <v-col :cols="4">
        <v-btn block class="width" color="purple" x-large to="refugee/both">
          {{ $t("Shelter and Transport") }}
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Refugee",
  components: {},
};
</script>
