<template>
  <v-container>
    <v-btn v-if="limit < volunteers.length" @click="limit += 3">
      {{ $t("Show More") }}
    </v-btn>
    <v-list-item v-for="(v, index) in shownVolunteers" :key="index">
      <v-list-item-icon>
        <v-icon size="36" v-if="v.roles.includes('drive')"> mdi-car</v-icon>
        <v-icon size="36" v-if="v.roles.includes('shelter')"> mdi-home</v-icon>
      </v-list-item-icon>
      <v-list-item-content>
        <v-list-item-title>{{ v.name }} | {{ v.phone }} </v-list-item-title>
        <v-list-item-subtitle>
          <span v-if="v.location">{{ v.location }}</span>
          <em v-if="v.availability">
            {{ v.availability }} {{ $t("people") }}
          </em>
          <p>{{ v.comment }}</p>
        </v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-action>
        <v-btn icon raised color="primary" @click="deleteVolunteer(v.id)">
          <v-icon> mdi-check </v-icon>
        </v-btn>
      </v-list-item-action>
    </v-list-item>
  </v-container>
</template>

<script>
import { db } from "../db";
function shuffleArray(input) {
  const array = [...input];
  for (var i = array.length - 1; i > 0; i--) {
    var j = Math.floor(Math.random() * (i + 1));
    var temp = array[i];
    array[i] = array[j];
    array[j] = temp;
  }
  return array;
}
export default {
  name: "Refugee",
  data() {
    return {
      volunteers: [],
      limit: 3,
    };
  },
  computed: {
    shownVolunteers() {
      return this.volunteers.slice(0, this.limit);
    },
  },
  async created() {
    let query;
    const collection = db.collection("volunteer");
    const needs = this.$route.params.needs;

    if (needs == "both") {
      query = collection.where("roles", "array-contains-any", [
        "shelter",
        "drive",
      ]);
    } else {
      query = collection.where("roles", "array-contains", needs);
    }
    const querySnapshot = await query.get();

    this.volunteers = shuffleArray(
      querySnapshot.docs
        .map((doc) => ({ ...doc.data(), id: doc.id }))
        .filter((d) => {
          return needs !== "both" || d.roles.length == 2;
        })
    );
  },
  methods: {
    async deleteVolunteer(docId) {
      db.collection("volunteer").doc(docId).delete();
      this.volunteers = this.volunteers.filter((v) => v.id !== docId);
    },
  },
};
</script>
