<template>
  <v-form v-model="valid" @submit.stop.prevent="save">
    <v-container>
      <v-row no-gutters>
        <v-col cols="12">
          <v-text-field
            v-model="volunteer.name"
            :rules="nameRules"
            :label="$t('Name')"
            hide-details=""
            required
            single-line
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="12">
          <v-text-field
            v-model="volunteer.location"
            :rules="locationRules"
            :label="$t('Location')"
            hide-details=""
            required
            single-line
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="12">
          <v-text-field
            v-model="volunteer.availability"
            type="number"
            :label="$t('Availability')"
            hide-details=""
            single-line
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <vue-tel-input-vuetify
            mode="international"
            v-model="volunteer.phone"
          ></vue-tel-input-vuetify>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="12">
          <v-checkbox
            v-model="volunteer.roles"
            :label="$t('Drive')"
            value="drive"
          ></v-checkbox>
        </v-col>
        <v-col cols="12">
          <v-checkbox
            v-model="volunteer.roles"
            :label="$t('Shelter')"
            value="shelter"
          ></v-checkbox>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="12">
          <v-text-field
            v-model="volunteer.comment"
            :label="$t('Comment')"
            hide-details=""
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn type="submit">{{ $t("Save") }}</v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import { db } from "../db";

export default {
  name: "Volunteer",
  data() {
    return {
      valid: false,

      volunteer: {
        name: "",
        location: "",
        comment: "",
        availability: "",
        roles: [],
        phone: "",
        avatar: null,
      },
      nameRules: [(v) => !!v || this.$t("Name is required")],
      locationRules: [(v) => !!v || this.$t("Location is required")],
    };
  },
  methods: {
    async save() {
      if (this.valid) {
        await db.collection("volunteer").add(this.volunteer);
        alert(this.$t("Successfully Saved"));
        this.$router.go(0);
      }
    },
  },
};
</script>
