<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <v-app-bar-nav-icon v-if="showBackArrow" @click="back">
        <v-icon>mdi-arrow-left-bold</v-icon>
      </v-app-bar-nav-icon>
      <v-app-bar-title>
        <v-btn text dark to="/">
          {{ $t("Volunteer Coordinator") }}
        </v-btn>
      </v-app-bar-title>
      <v-spacer></v-spacer>

      <v-btn
        v-for="lang in langs"
        :key="lang"
        small
        dark
        text
        @click="$i18n.locale = lang"
      >
        {{ lang.toUpperCase() }}
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      langs: ["en", "ua", "ru", "hu"],
    };
  },
  computed: {
    showBackArrow() {
      return !(this.$route.path === "/" || this.$route.path === "/login");
    },
  },
  methods: {
    back() {
      this.$router.go(-1);
    },
  },
};
</script>

<style type="scss">
.v-btn--active::before {
  opacity: 0 !important;
}

.v-btn--active:hover::before {
  opacity: 0.18 !important;
}
</style>
